In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import pyforest

In [14]:
data2 = pd.read_csv("mydata.csv")

In [15]:
data2.head()

,Market Place,Crop Variety,Producer Min,Producer Max,Wholesale Min,Wholesale Max,Retail Min,Retail Max,Volume,Collection Date
0,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,2400,2500,2550.0,2650,Sufficient,2019-05-02
1,Hawassa,White Teff (Quintal),0,0.0,2700,2900,2800.0,3000,Under,2019-05-06
2,Humera,White Teff (Quintal),0,0.0,2800,2900,0.0,0,Sufficient,2019-05-08
3,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,2450,2550,2550.0,2700,Sufficient,2019-05-09
4,Hawassa,White Teff (Quintal),0,0.0,2700,2900,2800.0,3000,Under,2019-05-13