In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import pyforest

In [2]:
data2 = pd.read_csv("mydata.csv")

In [3]:
data2.head()

,Market Place,Crop Variety,Producer Min,Producer Max,Wholesale Min,Wholesale Max,Retail Min,Retail Max,Volume,Collection Date
0,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,2400,2500,2550.0,2650,Sufficient,2019-05-02
1,Hawassa,White Teff (Quintal),0,0.0,2700,2900,2800.0,3000,Under,2019-05-06
2,Humera,White Teff (Quintal),0,0.0,2800,2900,0.0,0,Sufficient,2019-05-08
3,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,2450,2550,2550.0,2700,Sufficient,2019-05-09
4,Hawassa,White Teff (Quintal),0,0.0,2700,2900,2800.0,3000,Under,2019-05-13

In [5]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Market Place     1019 non-null   object
 1   Crop Variety     1019 non-null   object
 2   Producer Min     1019 non-null   int64
 3   Producer Max     1019 non-null   float64
 4   Wholesale Min    1019 non-null   int64
 5   Wholesale Max    1019 non-null   int64
 6   Retail Min       1019 non-null   float64
 7   Retail Max       1019 non-null   int64
 8   Volume           1019 non-null   object
 9   Collection Date  1019 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 79.7+ KB

In [6]:
data2.tail()

,Market Place,Crop Variety,Producer Min,Producer Max,Wholesale Min,Wholesale Max,Retail Min,Retail Max,Volume,Collection Date
1014,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,0,0,6500.0,6800,Sufficient,2023-03-02
1015,Dilla,White Teff (Quintal),0,0.0,6700,6800,6800.0,7000,Sufficient,2023-03-04
1016,Woldia Gebeya,White Teff (Quintal),6808,6956.0,0,0,6956.0,7106,Sufficient,2023-03-07
1017,Bahir Dar kebele 04,White Teff (Quintal),0,0.0,6200,6500,6500.0,7000,Sufficient,2023-03-09
1018,Adama City,White Teff (Quintal),0,0.0,7200,7300,7400.0,7500,Sufficient,2023-03-10